
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 50%), url( <%= image_path "corinne-kutz-211251.jpg" %>) center;">

   <div class="paddedtop">
            <div class="row">
              <div class="col-xs-12 col-sm-2 col-sm-offset-1 padded img-fluid">
              <%= image_tag("courbe.png")%>

              <h2>Un tableau de bord complet</h2>

               <p>Rassemblez toutes les informations essentielles et travaillez à partir de n'importe quel endroit, n'importe quand.</p>
               </div>

              <div class="col-xs-12 col-sm-2 padded img-fluid">
              <%= image_tag("notification.png")%>

              <h2>Notifications en temps réel</h2>

               <p>Suivez vos transactions en temps réel et soyez notifié dès qu'un paiement ou un encaissement a lieu.</p>
               </div>

              <div class="col-xs-12 col-sm-2 padded img-fluid">
              <%= image_tag("price-tag.png")%>

              <h2>Catégorisation intelligentente</h2>

               <p>Vos transactions par cartes sont automatiquement catégorisées pour vous permettre un meilleur suivi de vos dépenses et votre budget.</p>
               </div>

              <div class="col-xs-12 col-sm-2 padded img-fluid">
              <%= image_tag("accounting.png")%>

              <h2>Comptabilité simplifiée</h2>

               <p>Calculez simplement le montant de TVA de chaque transaction, ajoutez des notes. Faites gagner du temps à votre comptable et invitez-le à rejoindre Flit.</p>
               </div>

              <div class="col-xs-12 col-sm-2 padded img-fluid">
              <%= image_tag("network.png")%>

              <h2>Travaillez en équipe</h2>

               <p>Créez une carte pour un membre de votre équipe en moins de 30 secondes et assignez lui des accès/droits spécifiques. </p>
              </div>

            </div>
      </div>
  </div>
